{
  "openapi": "3.0.2",
  "info": {
    "title": "Gomora API",
    "description": "A progressive framework-agnostic API template following CLEAN architecture and SOLID principles. DDD inspired :)",
    "termsOfService": "https://github.com/Nuxify/gomora",
    "contact": {
      "name": "Nuxify Inc.",
      "email": "hello@nuxify.tech"
    },
    "version": "1.10.2"
  },
  "servers": [
    {
      "url": "https://gomora-api.nuxify.tech/v1",
      "description": "Production"
    },
    {
      "url": "https://staging-gomora-api.nuxify.tech/v1",
      "description": "Staging"
    },
    {
      "url": "http://localhost:8000/v1",
      "description": "Local"
    }
  ],
  "tags": [
    {
      "name": "record",
      "description": "Record service"
    }
  ],
  "paths": {
    "/record/token/generate": {
      "post": {
        "tags": ["record"],
        "summary": "Generate Token",
        "description": "Generates a token",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/APIResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/GenerateTokenResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "4xx": {
            "description": "Client side errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "5xx": {
            "description": "Server side errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/record": {
      "post": {
        "tags": ["record"],
        "summary": "Create Record",
        "description": "Creates a record",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Creates a record request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/APIResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CreateRecordResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "4xx": {
            "description": "Client side errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "5xx": {
            "description": "Server side errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/record/{id}": {
      "get": {
        "tags": ["record"],
        "summary": "Get Record By ID",
        "description": "Get record by its id",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Record id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/APIResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "$ref": "#/components/schemas/GetRecordResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "4xx": {
            "description": "Client side errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "5xx": {
            "description": "Server side errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateRecordRequest": {
        "required": ["id", "data"],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        }
      },
      "APIResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Operation successful"
          },
          "data": {
            "type": "object",
            "example": {}
          }
        }
      },
      "APIErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Bad Request"
          },
          "errorCode": {
            "type": "string",
            "example": "BAD_REQUEST"
          },
          "data": {
            "type": "object",
            "example": {}
          }
        }
      },
      "CreateRecordResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "data": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          }
        }
      },
      "GenerateTokenResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          }
        }
      },
      "GetRecordResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "data": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Session token"
      }
    }
  }
}
